<?xml version="1.0" encoding="UTF-8"?>
<rsaConfig>

	<!-- Spatial reference system (SRS) EPSG code to be used, the origin for
	     the tile grid, and the resolutions that will be available. The
	     cellSize must match values of org.vpac.ndg.common.datamodel.CellSize.
	     Set upPositive to true if the Y axis increases heading north. -->
	<srs>3111</srs>
	<upPositive>true</upPositive>
	<gridOrigin x="2000000" y="2900000" />

	<resolution cellSize="m100" tilePixels="5000" />

	<!-- Turn on/off file locking capability -->
	<filelockingOn>false</filelockingOn>

	<!-- Time in seconds between each heartbeat (keepalive) -->
	<heartBeatSpacing>60.0</heartBeatSpacing>

	<!-- How many heartbeats can be missed before lock expires -->
	<lockDeadline>3</lockDeadline>

	<!-- Generate ncml/vrt aggregation on import, this is useful for testing -->
	<generateImportTileAggregation>false</generateImportTileAggregation>

	<!-- Specify rsa directories here -->
	<storagepool>/var/lib/ndg/storagepool</storagepool>
	<temploc>/var/tmp/ndg</temploc>
	<uploadloc>/var/spool/ndg/upload</uploadloc>
	<pickuploc>/var/spool/ndg/pickup</pickuploc>

	<!-- Specify gdal location here -->
	<gdalprefix>/usr</gdalprefix>

	<epiphanyIp>172.31.25.104</epiphanyIp>
	<epiphanyPort>8000</epiphanyPort>
</rsaConfig>
