include "application"

akka.remote.netty.tcp.hostname = "0.0.0.0"

akka.remote.netty.tcp.port = 2552

// Here is the place need to set master ip and port
// usually master's port = 2552
// if current actorsystem is master, just comment out

master.hostip = "master"

master.port = "2552"
