include "application"

// Host and port of master. If not specified, localhost will be used.
// usually master's port = 2552 (default if not specified).
//master.hostip = "172.31.66.87"
//master.port = "2552"
